.container-narrow
  .masthead
    %h3.muted Environment Agency: Flood Data Visualisation<

  %hr

  .jumbotron
    %h1 Enter a station reference:
    %br



  .footer
    %p &copy; Created at the MongoDB Public Sector Hackathon, 15th April 2014
